<div class="card">
  <div class="card-body">
    <ng-select
      [items]="players$ | async"
      [addTag]="addPlayerRef"
      addTagText="Add Player"
      [hideSelected]="true"
      [multiple]="true"
      bindLabel="name"
      typeToSearchText="Please enter 2 or more characters"
      [editableSearchTerm]="true"
      [(ngModel)]="selectedPlayers"
      placeholder="Type player's name"
      notFoundText="No players found"
    >
    </ng-select>

    <button
      mat-stroked-button
      color="accent"
      [disabled]="selectedPlayers.length <= 2"
      (click)="startGame()"
    >
      Start
    </button>
  </div>
</div>
