table {
  text-align: center;
  width: 100%;
}

.results-title {
  padding-left: 20px;
}

.hover {
  cursor: pointer;
}

.maal-input {
  width: 50px;
}

tr {
  text-align: left;
}

.maal-input-table tr {
  height: 40px;
}

.button-container {
  margin: 10px;
  padding-bottom: 10px;
}

.mat-column-pandraPointFine {
  color: tomato;
}

.mat-cell:last-child,
.mat-footer-cell:last-child,
.mat-header-cell:last-child {
  padding-right: 10px;
  text-align: right;
}
