table {
  width: 100%;
}

.maal-input {
  width: 50px;
}

th td {
  text-align: center;
}

.mal-input-table tr {
  height: 40px;
}

.button-container {
  margin: 10px;
  display: flex;

  justify-content: flex-start;
}
