.maal-result-table {
  width: 100%;
  /* max-width: 600px; */
}

.mat-column-round {
  max-width: 30px;
  width: 30px;
}

.seen {
  color: blue;
}

.unseen {
  color: tomato;
}

.game-won {
  color: green;
}

.maal-result-table tr {
  height: 40px;
}

tr.mat-footer-row {
  font-weight: bold;
}

.maal-class {
  font-size: x-small;
  margin: 2px;
}

td {
  vertical-align: top;
  padding-top: 2px;
}

tr {
  max-height: 30px;
}

.hover {
  cursor: pointer;
}

.mat-cell:last-child,
.mat-footer-cell:last-child,
.mat-header-cell:last-child {
  padding-right: 10px;
  text-align: right;
}

.mat-cell:first-child,
.mat-footer-cell:first-child,
.mat-header-cell:first-child {
  padding-left: 10px;
}
