<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav">
    <mat-toolbar color="primary"></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="['/new-game']"
        >New Game</a
      >
      <!-- <a mat-list-item (click)="sidenav.close()" [routerLink]="['/history']"
        >History</a
      > -->
    </mat-nav-list>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar (click)="sidenav.open()"></app-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
